body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 31%, rgba(0, 212, 255, 1) 100%);
}


header {
    display: flex;
    width: 100%;

}

ul {
    display: flex;
    list-style: none;
color: rgb(255, 255, 255);
font-size: 40px;
text-transform: uppercase;
justify-content: center;
align-items: center;
gap: 28px;
}